<%= render 'searchbar' %>
<div class="index-main">
    <div class="main-map">
      <div id="map-all"></div>
    </div>

    <div class="prop-list">
      <% @properties.each do |property| %>
          <div class="prop-indiv">
            <%= link_to property do %>
              <img alt="image" class="prop-img" src="<%= image_path(property.aerial_image.url) %>">


                    <div class="prop-tile-head">
                        <h4 style="text-align: center;">  <strong>   <%= property.address %></strong></h4>
                    </div>
                    <div class="prop-tile-details">
                                <h5><strong>3</strong> Bd</h5>

                                <h5><strong>2</strong> Ba</h5>

                                <h5><strong>1,200</strong> SqFt</h5>


                        <p>Property value: <span class="amount"><%= property.assessment.total_value %></span></p>
                        <p>Defaulted amt: <span class="amount"><%= property.defaulted_amount %></span></p>
                    </div>
            <% end %>
        </div>
      <% end %>
    </div>
</div>



<script src="//maps.google.com/maps/api/js?v=3.23&key=AIzaSyAGwFAgG_E78rHdI3ndmwym-7x8RA5Fn_g"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<script type="text/javascript">

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map-all'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});

// handler.event.trigger(map, 'resize');

</script>
